#cards{
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardOuter, .cardInner, .card, .cardBack{
    width: 120px;
    height: 120px;
    border: 1px solid #000000;
    list-style: none;
}

.cardOuter{
    margin: 25px;
    perspective: 800px;
    -webkit-perspective: 800px;
}

.cardInner {
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.card, .cardBack{
    background: #fff;
}

.cardOuter .card{
    box-sizing: border-box;
    display: none;
    border: 1px solid #ccc;
    background: #fff;
}

.card img{
    width: 120px;
    height: 120px;
}

.cardOuter.reverse .cardBack {
    display: none;
}
