#cards {
    width: 100%;
    height: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    
.cardOuter,
.cardInner,
.cardOuter .card,
.cardOuter .cardBack {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    margin: 10px;
}

.cardInner {
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.cardOuter .card {
    box-sizing: border-box;
    display: none;
    border: 1px solid #ccc;
    background: #fff;
}
.cardOuter .card img {
    width: 120px;
    height: 120px;
}
.cardOuter .cardBack {
    display: table-cell;
    background: url(card.jpg);
}
.cardOuter.reverse .card {
    display: table-cell;
}
