.board{
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*
.card{
    position: absolute;
}
*/

/*#card1_1{*/
/*    position: relative;*/
/*    z-index: 0;*/
/*    background: url(img/card11.jpg);*/
/*    display:none;*/
/*}*/

/*#card11_1{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    display: none;*/
}

/*#card1_2{*/
/*    position: absolute;*/
/*    z-index: 0;*/
}

/*#card11_2{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    display: none;*/
}

/*#card2_1{*/
/*    position: absolute;*/
/*    z-index: 0;*/
}

/*#card12_1{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    display: none;*/
/*}*/

/*#card2_2{*/
/*    position: absolute;*/
/*    z-index: 0;*/
/*}*/

/*#card12_2{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    display: none;*/
/*}*/

/*#card3_1{*/
/*    position: absolute;*/
/*    z-index: 0;*/
/*}*/

/*#card13_1{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    display: none;*/
/*}*/

/*#card3_2{*/
/*    position: absolute;*/
/* */
}

/*#card13_2{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    display: none;*/
/*}*/